div.coverPage-endTimer#coverPage-endTimerJS(style="display: none;")
  form.intro-backBtn(action="/")
    button.material-icons.icon-back &#xe5e0;
  div.coverPage-typing#coverPage-typingJS 설정해야함
  div.coverPage-btn#coverPage-btnJS