doctype html
html(lang="en")
  head
    title Home
    include includes/head.pug
    link(rel="stylesheet", href="styles/home.css")
  body 
    div.titleCover#titleCoverJS(style="display:none") BurnOn
    form(action='/timer', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Timer
    form(action='/pomodoro', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Pomodoro
    form#customForm(action='/custom', method="get")
      div.titleBox
        button.titleBox_title.titleBox_titleJS Custom
    div.customOption_showSchedule.titleBox(style="display:none")
      div.titleBox_title 일정 표시
    div.customOption_showCafeteria.titleBox(style="display:none")
      div.titleBox_title 급식 표시
    script(src="javascripts/home.js")
