doctype html
html(lang="en")
  head
    title Home
    include includes/head.pug
    link(rel="stylesheet", href="styles/home.css")
  body 
    div.titleCover(style="display:none") BurnOn
    -const PAGENAME = ["timer", "pomodoro", "custom"]
    -const INNERTEXT = ["Timer", "Pomodoro", "Custom"];
    -for(i=0; i<3; i++)
      form(action='/' + PAGENAME[i], method="get") 
        div.titleBox
          button.titleBox_title.titleBox_titleJS #{INNERTEXT[i]}
    div.customOption_showSchedule
      div 주요 일정표시
    script(src="javascripts/home.js")
