doctype html
html(lang="en")
  head
    title Home
    include includes/head.pug
    link(rel="stylesheet", href="styles/home.css")
    link(rel="stylesheet", href="styles/home_mediaQuery.css")
  body.banselect
    div.titleCover#titleCoverJS(style="display:none") BurnOn
    form(action='/timer', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Timer
    form(action='/pomodoro', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Pomodoro
    form#customForm(action='/custom', method="get")
      div.titleBox
        button.titleBox_title.titleBox_titleJS Custom
    div.customOption_showSchedule.titleBox(style="display:none")
      div.titleBox_title.schedule#scheduleJS
      include includes/customPageLinkedBtn.pug
    div.customOption_showCafeteria.titleBox(style="display:none")
      div#cafeteriaMenuJS(style="display:none") #{cafeteriaMenusData}
      div.titleBox_title
        div.cafeteriaMenu#cafeteriaMenuJS__lunch
        div.cafeteriaMenu#cafeteriaMenuJS__dinner
      include includes/customPageLinkedBtn.pug
    div.customOption_time.titleBox(style="display:none")
      div.titleBox_title.currentTime#currentTimeJS
      include includes/customPageLinkedBtn.pug
    div.customOption_todayWeather.titleBox(style="display:none")
      div.titleBox_title.todayWeather#todayWeatherJS Please wait...
      include includes/customPageLinkedBtn.pug
    script(src="javascripts/home.js")
