doctype html
html(lang="en")
  head
    title Home
    include includes/head.pug
    link(rel="stylesheet", href="styles/home.css")
  body 
    div.titleCover#titleCoverJS(style="display:none") BurnOn
    form(action='/timer', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Timer
    form(action='/pomodoro', method="get") 
      div.titleBox
        button.titleBox_title.titleBox_titleJS Pomodoro
    form#customForm(action='/custom', method="get")
      div.titleBox
        button.titleBox_title.titleBox_titleJS Custom
    div.customOption_showSchedule.titleBox(style="display:none")
      div.titleBox_title.schedule 
      include includes/customPageLinkedBtn.pug
    div.customOption_showCafeteria.titleBox(style="display:none")
      div.titleBox_title 급식 표시
      include includes/customPageLinkedBtn.pug
    div.customOption_miscellaneous.titleBox(style="display:none")
      div.titleBox_title 잡학 사전
      include includes/customPageLinkedBtn.pug
    div.customOption_time.titleBox(style="display:none")
      div.titleBox_title.currentTime#currentTimeJS
      include includes/customPageLinkedBtn.pug
    div.customOption_HanRiver.titleBox(style="display:none")
      div.titleBox_title 한강 물 온도
      include includes/customPageLinkedBtn.pug
    script(type="module" src="javascripts/home.js")
