doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title pomodoro
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/fonts.css")
    link(rel="stylesheet", href="styles/defaultPageDesign.css")
    link(rel="stylesheet", href="styles/pomodoro.css")
  body 
    body 
    div.intro-box#intro-box
      -for(i=0; i<3; i++)
        div.introText-box
          div.intro-text
          div.introBtn.introBtnJS
    div.bodyBox-sideMenu
      div.button.btn-back
        span.material-icons.icon-back &#xe5e0;
    div.bodyBox-center
      div.titleBox
        div.mainTitle BurnOn
        div.subTitle Timer
      div.timerBox
      div.qouteBox 
        div.qoute Lorem Ipsum is simply dummy text of the printing and
        div.writer -Lorem Ipsum-
      div.controlerBox
        div.minuteBox
          div 00:00
          div.endMinute 00:00
        div.minuteLine
          div.minuteLineFill
        div.minuteControlBtnBox
          span.material-icons.icon-skip &#xe045;
          div.button.btn-play#btn-playJS
            span.material-icons.icon-pause#icon-playJS &#xe034;
          span.material-icons.icon-skip &#xe044;
    div.bodyBox-sideMenu#bodyBox-sideMenuJS
      div.option-buttons
        div.button.btn-menu
          span.icon-hamburger.material-icons.sideBar__icon &#xe5d2;
        div.button.btn-menu
          span.icon-music.material-icons.sideBar__icon &#xe405;
        div.button.btn-menu
          span.icon-volume.material-icons.sideBar__icon &#xe050;
        div.sideBar__blank#sideBar__blankJS
          span.material-icons.closeSideBar#closeSideBarJS.hidden &#xe5e1;
      div.option-hamburger#option-hamburgerJS.hidden
        -const PAGENAME = ["Timer", "Pomodoro", ""];
        -for(i in PAGENAME)
          div.movePageBox #{PAGENAME[i]}
      div.option-music#option-musicJS.hidden
      div.option-volume#option-volumeJS.hidden
    script(src="javascripts/defaultPageDesign.js")
    script(src="javascripts/pomodoro.js")