doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title pomodoro
    include includes/head.pug
    link(rel="stylesheet", href="styles/defaultPageDesign.css")
    link(rel="stylesheet", href="styles/pomodoro.css")
  body
    div.intro-box#intro-inputs-box
      form.intro-backBtn(action="/")
        button.material-icons.icon-back &#xe5e0;
      div.intro-typingBox
        div.intro-typing
          div.inputs
            input(type="number")
            div.sign h
            input(type="number")
            div.sign m
          div.subText 일할 시간을 입력해 주세요
        div.whiteLine
        div.intro-typing
          div.inputs
            input(type="number")
            div.sign h
            input(type="number")
            div.sign m
          div.subText 쉬는 시간을 입력해 주세요
      div.intro-btnBox
        div.introBtn#inputBtnJS
    div.intro-box#intro-box
      form.intro-backBtn(action="/")
        button.material-icons.icon-back &#xe5e0;
      div.material-icons.icon-intro-close.icon-intro-closeJS &#xe5cd;
      -for(i=0; i<6; i++)
        div.introText-box
          div.intro-text
          div.introBtn.introBtnJS
    div.bodyBox-sideMenu
      form(action="/")
        button.button.btn-back
          span.material-icons.icon-back &#xe5e0;
    div.bodyBox-center
      div.titleBox
        div.mainTitle BurnOn
        div.subTitle Pomodoro
      div.timerBox
        div.backGroundCircle.leftBack
          div.showPercentCircle.left#loadingLeftJS
        div.backGroundCircle.rightBack
          div.showPercentCircle.right#loadingRightJS
        div.inside-WhiteCircle
        div.inside-CDCircle#CDCircleJS
        div.inside-CDCircle-holeDesign1
        div.inside-CDCircle-holeDesign2
        div.inside-CDCircle-holeDesign3
        div.inside-CDCircle-holeDesign4
        div.inside-CDCircle-time#inside-CDCircle-timeJS
      div.qouteBox 
        div.qoute Lorem Ipsum is simply dummy text of the printing and
        div.writer -Lorem Ipsum-
      include includes/musicControler.pug
    div.bodyBox-sideMenu#bodyBox-sideMenuJS
      div.option-buttons
        div.button.btn-menu
          span.icon-hamburger.material-icons.sideBar__icon &#xe5d2;
        div.button.btn-menu
          span.icon-music.material-icons.sideBar__icon &#xe405;
        div.button.btn-menu
          span.icon-volume.material-icons.sideBar__icon &#xe050;
        div.sideBar__blank#sideBar__blankJS
          span.material-icons.closeSideBar#closeSideBarJS.hidden &#xe5e1;
      div.option-hamburger#option-hamburgerJS.hidden
        -const PAGELINK = ["timer", "pomodoro", "custom"];
        -const PAGENAME = ["Timer", "Pomodoro", "Custom"];
        -for(i in PAGENAME)
          form(action="/" + PAGELINK[i], method="get") 
            button.movePageBox #{PAGENAME[i]}
      include includes/audiosList.pug
      div.option-volume#option-volumeJS.hidden
    include includes/script.pug
    script(src="javascripts/pomodoro.js")