.bodyBox-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyBox-center .customOptionBox {
  width: 770px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.bodyBox-center .customOptionBox .customOptionBoxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customOptionBox .customOptionBoxHeader .customOption-title {
  height: 30px;
  width: fit-content;
  margin-bottom: 20px;
  border-bottom: dashed black 2px;
  margin-right: auto;
  margin-left: 0;
}

.customOptionBox
  .customOptionBoxHeader
  .customOption-title
  .customOption-title__text {
  font-size: 25px;
}

.customOptionBox .customOptionBoxHeader .enterBtn {
  background-color: #e97388;
  width: 130px;
  height: 40px;
  color: #f5f5f5;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  transition-duration: 0.5s;
  animation: movingBtn 1s infinite;
}

.customOptionBox .customOptionBoxHeader .enterBtn:hover {
  cursor: pointer;
  transform: scale(105%);
}

.customOptionBox .customOptionBoxHeader .enterBtn:active {
  cursor: auto;
  transform: scale(95%);
}

.customOptionBox .customOption-options__box {
  border: black solid 1.5px;
  width: calc(100% - 4px);
  height: 100px;
  margin-top: 7.5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customOption-options {
  width: 770px;
}

.customOption-options__box .customOption-options__text {
  font-size: 18px;
  margin-left: 40px;
}
.customOption-options__box .customOption-options__text__decoration {
  position: absolute;
  z-index: -10;
  background-color: rgba(255, 0, 0, 0.5);
  margin-top: 10px;
  margin-left: 40px;
  height: 10px;
  width: 0px;
  transition-duration: 1s;
}

.customOption-options__box .customOption-options__button {
  width: 100px;
  height: 25px;
  border: black solid 1.5px;
  border-radius: 5px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customOption-options__box .customOption-options__button:hover {
  cursor: pointer;
}

.customOption-options__box .checked {
  background-color: #e97388;
}

.customOption-options__box
  .customOption-options__button
  .customOption-options__button__text {
  font-size: 16px;
}

.sideBar .sideBar__blank {
  height: calc(100vh - 5vw);
  background-color: #050505;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
