body {
  display: flex;
  font-family: Cafe24SsurroundAir;
  background-color: #f5f5f5;
}

.button {
  background-color: #282828;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bodyBox-sideMenu {
  width: 8vw;
  height: 100vh;
}

.bodyBox-sideMenu .button .material-icons {
  color: #f5f5f5;
}

.bodyBox-sideMenu .btn-back {
  margin: 40px 0 0 40px;
}

.bodyBox-sideMenu .btn-back .icon-back {
  color: #f5f5f5;
  margin-left: 14.5px;
  font-size: 20px;
}

.bodyBox-sideMenu .btn-menu {
  margin: 40px 0 0 40px;
}

.bodyBox-sideMenu .btn-menu .icon-hamburger {
  margin-left: 9px;
  font-size: 23px;
}

.bodyBox-sideMenu .btn-menu .icon-music {
  margin-left: 9px;
  font-size: 23px;
}

.bodyBox-sideMenu .btn-menu .icon-volume {
  margin-left: 9.5px;
  font-size: 22px;
}

.sideBar {
  position: absolute;
  right: 0;
  background-color: #282828;
  width: 28vw;
  display: flex;
}

.sideBar .sideBar__btn-menu {
  border-radius: 0;
  background-color: #050505;
  margin: 0;
  width: 5vw;
  height: 5vw;
  justify-content: center;
  color: #f5f5f5;
}

.sideBar .checked {
  background-color: #282828;
}

.sideBar .sideBar__btn-menu:hover .sideBar__icon {
  color: #e97388;
}

.sideBar .sideBar__btn-menu .sideBar__icon {
  margin: 0;
}

.sideBar .sideBar__blank {
  height: calc(100vh - 15vw);
  background-color: #050505;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sideBar .sideBar__blank .closeSideBar {
  color: #f5f5f5;
}

.sideBar .sideBar__blank:hover .closeSideBar {
  color: #e97388;
}

.option-hamburger {
  height: 20px;
  width: 20px;
  background-color: white;
}

.bodyBox-center {
  width: 84vw;
  height: 100vh;
}

.bodyBox-center .titleBox {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.titleBox .mainTitle {
  font-size: 35px;
}

.titleBox .subTitle {
  color: #c4c4c4;
  font-size: 14px;
}

.bodyBox-center .timerBox {
  height: 63vh;
}

.bodyBox-center .qouteBox {
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyBox-center .controlerBox {
  height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlerBox .minuteBox {
  width: 64%;
  height: 10%;
  display: flex;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.controlerBox .minuteBox .endMinute {
  margin-left: auto;
}

.controlerBox .minuteLine {
  background-color: #c2c2c2;
  height: 5px;
  width: 64.5%;
  border-radius: 5px;
}

.controlerBox .minuteLine .minuteLineFill {
  height: 100%;
  width: 40%;
  background-color: #474747;
  border-radius: 5px;
}

.controlerBox .minuteControlBtnBox {
  height: 100%;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlerBox .minuteControlBtnBox .icon-skip {
  font-size: 40px;
  cursor: pointer;
}

.controlerBox .minuteControlBtnBox .btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 calc(17.5vw - 67px);
  box-shadow: 1px 2px 8px #9c9c9c, -1px 2px 8px #9c9c9c;
  color: white;
}

.controlerBox .minuteControlBtnBox .btn-play .icon-play {
  font-size: 27px;
}

.hidden {
  display: none;
}
