.timerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerBox .decoration {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 433px;
}

.timerBox .decoration .decoration_string {
  background-color: rgba(71, 71, 71, 0.92);
  height: 3px;
  width: 23px;
}

.timerBox .decoration:nth-child(2) {
  transform: rotate(90deg);
}

.timerBox .backGroundCircle {
  position: relative;
  width: calc(387px / 2);
  height: 387px;
  background-color: #c9c9c9;
  border-radius: 387px 0 0 387px;
  overflow: hidden;
  display: flex;
}

.timerBox .leftBack {
  z-index: 7;
}

.timerBox .rightBack {
  z-index: 8;
  border-radius: 0 387px 387px 0;
}

.timerBox .backGroundCircle .showPercentCircle {
  position: absolute;
  width: calc(387px / 2);
  height: 387px;
  z-index: 5;
  background-color: #474747;
  opacity: 80%;
}

.timerBox .backGroundCircle .left {
  z-index: 6;
  transform-origin: 100% 50%;
  animation-delay: 30s;
  transform: rotate(180deg);
  animation-name: showPercent__left;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes showPercent__left {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.timerBox .backGroundCircle .right {
  z-index: 6;
  transform-origin: 0% 50%;
  animation-name: showPercent__right;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes showPercent__right {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timerBox .insideWhiteCircle {
  position: absolute;
  z-index: 9;
  width: 370px;
  height: 370px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.timerBox .insideImageCircle {
  position: absolute;
  z-index: 10;
  background-image: url(../images/거꾸로캠퍼스.webp);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.timerBox .insideImageOveray {
  position: absolute;
  z-index: 10;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 14, 51, 0.27);
}

.timerBox .insideImageOveray .timer {
  width: 240px;
  height: 80px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.timer .dash {
  width: 15px;
  height: 3px;
  border-radius: 1px;
  background-color: #f5f5f5;
}

.timer input {
  width: 23%;
  height: 31px;
  font-size: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  text-align: end;
  vertical-align: end;
  line-height: 40px;
  font-family: Cafe24SsurroundAir;
  padding-top: 7px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer .timerTimeBox {
  overflow-y: hidden;
  height: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.timer .timerTimeBox::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.timer .timerTimeBox .blink {
  height: 25px;
}

.timer .timerTimeBox .blink:last-child {
  height: 14px;
}

.timer .timerTimeBox .timerTime {
  color: white;
  font-size: 35px;
  text-align: end;
  transition-duration: 1s;
}

.timer .sign {
  font-size: 35px;
  color: white;
  text-align: center;
  transform: translateY(3px);
}

.timerBox .insideImageOveray .timerControler {
  width: 110px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timerControl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #f5f5f5 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerControler .timerControl:hover {
  cursor: pointer;
}
